<a href="https://colab.research.google.com/github/sakshirathi32/PRACT1/blob/main/sakshirathi_exp_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a forloop is used to repeat a block of code for each element in a sequence (like range,list,string)

In [ ]:
# syntax offorloop
for variable in sequence
statement(s)

In [4]:
#print numbers from 1 to 5
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [5]:
#print even numbers from 1 to 10
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [7]:
#sum of first N numbers
n = int(input("enter N: "))
total= 0
for i in range(1, n +1):
   total += i
print("sum=", total)

enter N: 8
sum= 36

In [9]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
    for j in range(3):
        print(A[i][j],end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [10]:
#multiplication of two 3x3 matrixes(most imp)

SyntaxError: invalid decimal literal (ipython-input-3525138482.py, line 1)

In [13]:
d1 = 1
d2 = 2
d3 = 3

d = [d1, d2, d3]
#123, 132, 214, 231, 312, 321


for i in range(0,3):
    for j in range(0,3):
        for k in range(0,3):

            if i != j and j != k and i != k:
                matrix.append([d[i], d[j], d[k]]) # Changed nums to d

# print matrix
for row in matrix:
    print(row)

[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]
[1, 2, 3]
[1, 3, 2]
[2, 1, 3]
[2, 3, 1]
[3, 1, 2]
[3, 2, 1]

In [24]:


for i in range(20, 0, -1):
    print("*" *i)

********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [25]:
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********